[color]
  ui = auto
[core]
  pager = less -FX
  excludesfile = ~/.gitignore
  editor = "vim +0"
  protectHFS = true
  protectNTFS = true
[alias]
  aliases = ! git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
  ci = commit
  co = checkout
  stat = status --short --branch
  logk = log --graph --oneline --decorate --branches
  # glog command like hg's equivalent
  glog = log --graph --oneline --decorate
  # Branch topology graph
  topo = log --graph --oneline --decorate --branches --simplify-by-decoration
  # git-meld from <https://github.com/wmanley/git-meld>
  meld = ! git-meld.pl
  # Conflicts alias
  conflicts = diff --name-only --diff-filter=U
  # This might be faster:
  # conflicts = !git ls-files -u | cut -f 2 | sort -u
  # Use dir-diff with the same name as the original script git-diffall
  diffall = difftool --dir-diff
  fix = commit --fixup # <commit>
  # This does the entire tree, when I would like it if I could limit it
  # to a directory...
  untracked = ls-files -o --exclude-standard --directory
  # Get current branch, if at tip of branch. Otherwise, just prints HEAD
  # (Could replace by parsing .git/HEAD
  pwb = rev-parse --abbrev-ref HEAD

  # Aliases for grepping by file type.
  # Format taken from https://stackoverflow.com/a/39523506/79513
  grep-go = "! git grep \"$@\" *.go #"
  grep-gyp = "! git grep \"$@\" *.gyp *.gypi #"
  grep-ninja = "! git grep \"$@\" *.ninja #"
  grep-py = "! git grep \"$@\" *.py #"
  grep-proto = "! git grep \"$@\" *.proto #"

  # Styled like ack
  # Taken from https://stackoverflow.com/a/39583968/79513
  ack = "! git -c color.grep.linenumber=\"bold yellow\" \
               -c color.grep.filename=\"bold green\" \
               -c color.grep.match=\"reverse yellow\" \
               grep --break --heading --line-number"
  ack-go = "! git ack \"$@\" *.go #"
  ack-gyp = "! git ack \"$@\" *.gyp *.gypi #"
  ack-ninja = "! git ack \"$@\" *.ninja #"
  ack-py = "! git ack \"$@\" *.py #"
  ack-proto = "! git ack \"$@\" *.proto #"
[color "diff"]
  new = green bold
  old = red bold
  frag = magenta bold
[credential]
  helper = cache
[diff]
  tool = meld
  mnemonicprefix = true
[push]
  default = simple
[merge]
  stat = true
[rebase]
  autosquash = true
  missingCommitsCheck = warn
[receive]
  denyCurrentBranch = updateInstead
[rerere]
  enabled = 1
[init]
  templatedir = ~/.git_template
[transfer]
  fsckObjects = true
# # The include feature doesn't work until git 1.7.10, which isn't
# # packaged for Ubuntu 12.04
# Store system-specific config (e.g. email) in separate file
[include]
  path = ~/.gitconfig.local
