[color]
  ui = auto
[core]
  pager = less -FX
  excludesfile = ~/.gitignore
  editor = "vim +0"
[alias]
  ci = commit
  co = checkout
  stat = status --short --branch
  logk = log --graph --oneline --decorate --all
  # glog command like hg's equivalent
  glog = log --graph --oneline --decorate --all
  # git-meld from <https://github.com/wmanley/git-meld>
  meld = ! git-meld.pl
  conflicts = diff --name-only --diff-filter=U
  # Use dir-diff with the same name as the original script git-diffall
  diffall = difftool --dir-diff
[color "diff"]
  new = green bold
  old = red bold
  frag = magenta bold
[credential]
  helper = cache
[diff]
  tool = meld
  mnemonicprefix = true
[merge]
  stat = true
## The include feature doesn't work until git 1.7.10, which isn't
## packaged for Ubuntu 12.04
# # Store system-specific config (e.g. email) in separate file
# [include]
#   path = ~/.gitconfig.local
[user]
  email = afoglia@gmail.com
